@charset "UTF-8";

body {
  color: #ffffff;
  background-color: #ffffff;
  font-family: serif;
}

.l-general_header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url("../images/8264d7a9d96368cf7c16ca38dbfaad14.jpg");
  .c-global_navigation {
    list-style: none;
    overflow: hidden;
    position: fixed;
    top: 10px;
    right: 0px;
    bottom: 10px;
    height: 100px;
    li {
      width: 100px;
      text-align: center;
      float: left;
      padding: 10px;
      a {
        color: #ffffff;
        margin: -20px;
      }
    }
  }
}

.c-sns_navigation {
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 0px;
  bottom: 10px;
  padding: 5px;
  margin-bottom: auto;
  li {
    width: 20px;
    text-align: center;
    float: left;
    margin: 5px;
    font-size: 16px;
    color: #ffffff;
    li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      a {
        color: #ffffff;
        margin: 5px;
      }
    }
  }
}

h1 {
  position: relative;
  padding: 0 65px;
  text-align: center;
  margin: 50px;
  &:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: rgb(0, 0, 0);

  }
}

h3 {
  position: relative;
  padding: 0 65px;
  text-align: center;
  margin: 0px;
  &:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: rgb(0, 0, 0);
  }
}
span {
  position: relative;
  padding: 0 1em;
  background: #ffffff;
}



.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 1080px;
  color: #0a0909;
  background-color: #ffffff;
}

footer {
  /*footerの装飾*/
  
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 100px 0;
}

.h2_footer {
  padding: 0px;
  background-color: #ffffff;
  font-size: large;
}

.c-basic_section_group_overview {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
}

.c-menu_article {
  float: left;
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
  margin: 0px 10px 10px 5px;
  border: solid 1px #fa0000;
  .animationTarget {
    position: relative;
    opacity: 0;
    transition: 1s;
    transform: translateY(50px);
    &.show {
      opacity: 1;
      transform: none;
    }
  }
}

.c-basic_section_group_address_car_stand{
  margin: 0 0 50px 0;

}
.c-basic_resin_introduction{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 1080px;
  color: #0a0909;
  background-color: #ffffff;
  width: 1000px;
}

